body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #56ab2f, #a8e063);
    color: #0c0101;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

.property-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.property {
    max-width: 300px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.property img {
    max-width: 100%;
    border-radius: 5px;
}

.property h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.property p {
    margin: 10px 0;
}

.property span {
    font-size: 1.2em;
    font-weight: bold;
    color: #e44d26;
}

button {
    background: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}
